<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p style="Font-Size: 20vw; Margin: 15vh 2vw 0">
    {{ remainedString }}
  </p>
  <form>
    <div class="form-group">
      <input type="text" style="width: 2em" class="form-control" id="minInput" #minInput required>
        Minutes
    <button type="submit" class="btn btn-primary"
            (click)="broadcastTime(minInput.value);minInput.value='';beepFlag=true;">Start
    </button>
    <button class="btn btn-secondary" (click)="beepFlag = false;">BeepOff</button>
    </div>
  </form>
  <p style="display: none;">
    {{ now | async | date:'yyyy年MM月dd日 HH:mm:ss' }}
  </p>
</div>